<p>
    Kính gửi anh/chị,
</p>
<p>
    Hệ thống gửi anh chị kết quả gửi SMS thời điểm
    <span style="font-weight: 700; font-style: italic;">@@currentTime@@</span>:<br>
<ul>
    <li>Thành công: <span style="font-weight: 700; color: green;">@@successCount@@</span></li>
    <li>Có lỗi: <span style="font-weight: 700; color: red;">@@errorCount@@</span></li>
</ul>
</p>
<p>
    Để xem chi tiết, anh/chị truy cập đường dẫn <a href="http://10.100.20.99">click here</a><br>
    <span style="font-weight: 700; font-style: italic; color: red;">P/s: vui lòng không phản hồi lại mail này!</span>
</p>